<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons *ngIf="!isSearch" slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button shape="round" (click)="goSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title *ngIf="!isSearch">{{(formIdea?.title?formIdea.title:'')}}</ion-title>

    <ion-buttons *ngIf="!isSearch && userInfo" slot="end">
      <ion-button shape="round">
        <ion-icon slot="start" name="{{userInfo?'contact':'log-in'}}"></ion-icon>
        {{userInfo?.username}}
      </ion-button>
    </ion-buttons>

    <ion-searchbar class="search-bar" *ngIf="isSearch" [placeholder]="searchHint" [(ngModel)]="searchString"
      (keyup.enter)="searchEnter()" (keyup.esc)="searchEnter()" (focusout)="searchEnter()"
      (ionChange)="onUserEnterSearch($event)"></ion-searchbar>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab *ngIf="!isCardNewShow" horizontal="start" vertical="top" slot="fixed">
    <ion-fab-button color="warning" (click)="onClickAddNew()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab *ngIf="!isCardNewShow" horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button color="secondary">
      <ion-icon name="funnel"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="success" data-filter="Sắp xếp theo" (click)="onClickOrder()">
        <ion-icon name="code-download"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="tertiary" data-filter="Lọc theo lĩnh vực" (click)="onClickFilterCategory()">
        <ion-icon name="funnel"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" data-filter="Lọc theo trạng thái" (click)="onClickFilterStatus()">
        <ion-icon name="flask"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="warning" data-filter="Tùy chọn tìm kiếm" (click)="onClickSearchOption()">
        <ion-icon name="eye"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-card class="card-add-new" *ngIf="isCardNewShow">
    <card-dynamic-form [dynamicFormInput]="dynamicFormInput" [dynamicFormValue]="dynamicFormValue"
      (onSelectedFinish)="onSelectedFinish($event)"></card-dynamic-form>
  </ion-card>

  <!-- Phần bộ công cụ kéo refresh để đọc dữ liệu mới -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event, 'UP')" pullFactor="0.8" pullMin="60" pullMax="120">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Kéo xuống để làm mới" refreshingSpinner="bubbles"
      refreshingText="Đang tải...">
    </ion-refresher-content>
  </ion-refresher>

  <!-- Hiển thị danh sách các ý tưởng ra trên trang này sắp xếp thành các card theo các màu sắc ý tưởng khác nhau -->
  <ion-grid *ngIf="!isCardNewShow">
    <ion-row>
      <ion-col *ngFor="let it of myIdeaFilterList" size="12" size-sm="6" size-md="4" size-lg="4" size-xl="3">
        <app-idea-card [cardData]="it" (onClickSub)="onClickIdeaCard($event)"></app-idea-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Phần công cụ kéo xuống để đọc tiếp dữ liệu trang sau bổ sung  -->
  <ion-infinite-scroll (ionInfinite)="doRefresh($event, 'DOWN')">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Load dữ liệu cũ hơn...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>