  .welcome-card img {
    max-height: 35vh;
    overflow: hidden;
  }
  
  .welcome-card .welcome-card-image-height {
    min-height: 35vh;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .btn-actions-pane-right {
    margin-left: auto;
    white-space: nowrap;
    padding: 0.75rem 0 0;
  }
