//---------- style for menu -----//
.background-card {
    background-color: #f3f3f3;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.gradient {
    background-image: url("/assets/imgs/gradient.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.grid-border{
    border-radius: 0.5em;
    border: solid 0.1em #FFFFFF;
}

.badge-background {
    position: relative;
    text-align: left;
}

.badge-background .badge-alert {
    position: absolute;
    left: 30%;
    top: 20%;
    padding: 0;
    margin: 0;
    font-size: 0.6em;
    height: 30%;
    width: 70%;
    color: #ffffff;
}

.padding-col{
    padding: 2px;
}

.card-background-header {
    position: relative;
    text-align: left;
}

.background-image-header{
    background-size: cover;
    background-position: center; 
    min-height: 100px;
}

.card-background-header .avatar-header {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 80px;
    height: 80px;
    font-weight: bold;
    color: #fff;
    border-radius: 50%;
    border: 5px solid greenyellow;
    background-size: cover;
    background-position: center; 
}

.card-background-header .card-title-header {
    position: absolute;
    top: 25%;
    left: 33%;
    font-size: 1.5em;
    width: 67%;
    font-weight: bold;
    color: #fff;
}