<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      {{homeForm.title}}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button shape="round" (click)="onClickLogin()">
        <ion-icon slot="start" name="{{userInfo?'contact':'log-in'}}"></ion-icon>
        {{userInfo?.username}}
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>

      <ion-col *ngIf="homeForm.card" size="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">
        <ion-card class="welcome-card">

          <div *ngIf="homeForm.card.image" class="welcome-card-image-height"
            [style.background-image]="'url('+homeForm.card.image+')'"></div>
          <ion-card-header>
            <ion-card-subtitle *ngIf="homeForm.card.subtitle">{{homeForm.card.subtitle}}</ion-card-subtitle>
            <ion-card-title *ngIf="homeForm.card.title">{{homeForm.card.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content *ngIf="homeForm.card.content">
            <div slot="start" [innerHTML]="homeForm.card.content"></div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngIf="homeForm.list" size="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">
        <ion-list lines="none">
          <ion-list-header>
            <ion-label>{{homeForm.list.title}}</ion-label>
          </ion-list-header>
          <ion-item *ngFor="let item of homeForm.list.items" href="{{item.url}}">
            <ion-icon slot="{{(item.icon.slot?item.icon.slot:'start')}}"
              color="{{(item.icon.color?item.icon.color:'medium')}}"
              name="{{(item.icon.name?item.icon.name:item.icon?item?.icon:'book')}}"></ion-icon>
            <ion-label>{{item.title}}</ion-label>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>