<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>{{(formLogin?.title?formLogin.title:'LOGIN')}}</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content class="background-none background-image">

  <!-- Các dữ liệu form nhập liệu động, gồm các form nhập liệu và nút xử lý -->
  <ion-list class="background-transparent" *ngFor="let it of formLogin.items">

    <!-- QrCode generator Phải là text hoặc dạng base64 hoặc hex với độ dài giới hạn, nếu lớn quá sẽ lỗi-->
    <ion-grid *ngIf="it?.type == 'qrcode' && it?.value?.length<=2000 ">
      <ion-row>
        <ion-col style="text-align: center;" size="12">
          <ion-card>
            <ngx-qrcode [qrc-value]="it.value"></ngx-qrcode>
          </ion-card>
        </ion-col>
        <ion-col *ngIf="it.is_show_value" style="text-align: center;" size="12">
          {{ it.value }}
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- BarCode generator là dạng số và chữ số  -->
    <ion-grid *ngIf="it?.type == 'barcode' && it?.value?.length<=100 ">
      <ion-row>
        <ion-col style="text-align: center;" size="12">
          <ion-card>
            <ngx-barcode [bc-value]="it.value" [bc-display-value]="true"></ngx-barcode>
            <!-- <ion-card-content *ngIf="it.is_show_value">
						<div>{{ it.value }}</div>
					  </ion-card-content> -->
          </ion-card>
        </ion-col>
        <ion-col *ngIf="it.is_show_value" style="text-align: center;">
          {{ it.value }}
        </ion-col>
      </ion-row>
    </ion-grid>


    <!-- Thêm card ảnh theo base64 cắt hình backgroud card-->
    <ion-card *ngIf="it?.type == 'image-viewer'" class='form-welcome-card card-background-image'>

      <!-- Ảnh hiển thị mẫu của card -->
      <ion-card-header *ngIf="it.name">
        <ion-card-subtitle *ngIf="it.hint">{{it.hint}}</ion-card-subtitle>
        <ion-card-title>{{it.name}}</ion-card-title>
      </ion-card-header>

      <!-- Hiển thị ảnh đủ dung lượng độ rộng 
				hoặc độ cao tối thiểu
				Cách này sử dụng hiển thị toàn bộ ảnh thật,
				nhưng sẽ tràn màn hình, hoặc bé tý
				Ảnh to sẽ bị méo rất xấu
			-->
      <img *ngIf="it.value" [src]="it.value">

      <!-- Hiển thị ảnh dưới độ rộng, độ cao, 
				cho trước bằng style tối đa 
				Cách này dùng làm ảnh nền cho một card nào đó, mà nó sẽ không bị méo hình
				Ảnh to sẽ không bị méo nhưng ảnh nhỏ sẽ bị nằm lọt bên trong
			-->
      <!-- <div *ngIf="it.value" class="card-image-height" [style.background-image]="'url('+it.value+')'"></div> -->

      <!-- nút load file ảnh nằm ở góc trái màn hình, cho phép gọi trình openfile -->
      <!-- <div class='card-button' tappable>
        <input class="file-over" type="file" (change)="imageUploadEvent($event, it)"
          accept="image/gif, image/jpeg, image/png" />
        <ion-icon slot="icon-only" name="camera" color="medium"></ion-icon>
      </div> -->

    </ion-card>

    <!-- Thêm thẻ ảnh thumnail -->
    <ion-item *ngIf="it?.type == 'image'" class="background-round">
      <ion-thumbnail tappable slot="start" (click)="showImage(it)">
        <ion-img [src]="it.value"></ion-img>
      </ion-thumbnail>
      <ion-label>{{it.name}}</ion-label>
      <ion-buttons slot="end">
        <ion-button color='danger' shape="round" fill="outline" (click)="openCamera(it)">
          <ion-icon slot="icon-only" name="videocam"></ion-icon>
        </ion-button>
        <ion-button color='secondary' shape="round" fill="outline">
          <input tappable class="file-over" type="file" (change)="imageUploadEvent($event, it)"
            accept="image/gif, image/jpeg, image/png" />
          <ion-icon slot="icon-only" name="camera"></ion-icon>
        </ion-button>
        <ion-button color='primary' shape="round" fill="outline" (click)="cropImage(it)">
          <ion-icon slot="icon-only" name="crop"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-card *ngIf="it?.type == 'image' && it.visible" class='form-welcome-card card-background-image'>
      <img *ngIf="it.value" [src]="it.value">
    </ion-card>

    <!-- title with avatar -->
    <ion-item class="background-none" *ngIf="it?.type == 'avatar'">
      <ion-avatar slot="start" *ngIf="it.url"><img [src]="it.url"></ion-avatar>
      <ion-title slot="start" class="form-title-item" color="{{it.color}}">{{it.name}}</ion-title>
    </ion-item>

    <!-- title -->
    <ion-item class="background-none" *ngIf="it?.type == 'title'">
      <ion-label class="form-title-item" color="{{it.color}}">{{it.name}}</ion-label>
    </ion-item>

    <!-- form chi tiet -->
    <ion-list class="background-round" *ngIf="it?.type == 'details'">
      <ion-item *ngFor="let dt of it.details">
        <strong slot="start">
          {{dt.name}}
        </strong>
        <ion-label class="ion-text-wrap" color="{{it.color}}" *ngIf="dt.pipe_date">
          {{dt.value | date:dt.pipe_date}}
        </ion-label>
        <ion-label class="ion-text-wrap" color="{{it.color}}" *ngIf="!dt.pipe_date">
          {{dt.value}}
        </ion-label>
      </ion-item>
    </ion-list>


    <!-- input text inline=default null/fixed/floating/stacked-->
    <ion-item *ngIf="it?.type == 'text'" class="background-none background-round form-input-item">
      <ion-icon *ngIf="it.icon" slot="start" color="{{it.color?it.color:'primary'}}" name="{{it.icon}}"></ion-icon>
      <ion-label position="stacked" class="ion-text-wrap" color="{{(it.invalid?'danger':'')}}"
        style="text-align: justify;">
        {{it.invalid?it.hint:it.name}}{{it.validators?'(*)':''}}</ion-label>
      <ion-input type="{{it.input_type}}" placeholder="{{it.hint}}" [(ngModel)]="it.value" [disabled]="it.disabled">
      </ion-input>
    </ion-item>

    <!-- Thêm captcha hình ảnh kiểu svg text file -->
    <ion-item *ngIf="it?.type == 'svg'" class="background-none background-round form-input-item">
      <!-- thêm OTP bằng hình ảnh -->
      <div slot="start" [innerHTML]="it.svg"></div>
      <ion-label position="stacked" class="ion-text-wrap" color="{{(it.invalid?'danger':'')}}"
        style="text-align: justify;">
        {{it.invalid?it.hint:it.name}}{{it.validators?'(*)':''}}</ion-label>
      <ion-input type="text" placeholder="{{it.hint}}" [(ngModel)]="it.value"></ion-input>
    </ion-item>

    <!-- input text-area -->
    <ion-item *ngIf="it?.type == 'text_area'" class="background-none background-round form-input-item">
      <ion-icon *ngIf="it.icon" slot="start" color="{{it.color?it.color:'primary'}}" name="{{it.icon}}"></ion-icon>
      <ion-label *ngIf="it.invalid" position="floating" color="danger" class="ion-text-wrap"
        style="text-align: justify;">
        {{it.hint}}(*)
      </ion-label>
      <ion-textarea rows="6" cols="20" placeholder={{it.name?it.name:it.hint}} [(ngModel)]="it.value">
      </ion-textarea>
    </ion-item>

    <!-- check box -->
    <ion-item *ngIf="it?.type === 'check'" class="background-none background-round form-input-item">
      <ion-icon *ngIf="it.icon" slot="start" color="{{it.color?it.color:'primary'}}" name="{{it.icon}}"></ion-icon>
      <ion-label class="ion-text-wrap" style="text-align: justify;">{{it.name?it.name:it.hint}}</ion-label>
      <ion-checkbox [(ngModel)]="it.value"></ion-checkbox>
    </ion-item>

    <!-- radio select -->
    <ion-list *ngIf="it?.type === 'radio'" class="background-none background-round form-input-item">
      <ion-radio-group allow-empty-selection="true" name="radio-group" [(ngModel)]="it.value">

        <ion-list-header>
          <ion-icon *ngIf="it.icon" slot="start" color="primary" name="{{it.icon}}"></ion-icon>
          <ion-label color="primary" class="ion-text-wrap" style="text-align: justify;">{{it.name}}
          </ion-label>
        </ion-list-header>

        <ion-item *ngFor="let myRad of it.options">
          <ion-label color="secondary" class="ion-text-wrap" style="text-align: justify;">{{myRad.name}}
          </ion-label>
          <ion-radio slot="start" color="secondary" value="{{myRad.value}}"></ion-radio>
        </ion-item>

      </ion-radio-group>
    </ion-list>

    <!-- multiple select -->
    <ion-item *ngIf="it?.type === 'select_multiple'" class="background-none background-round form-input-item">
      <ion-icon *ngIf="it.icon" slot="start" color="{{it.color?it.color:'primary'}}" name="{{it.icon}}"></ion-icon>
      <ion-label color="{{it.color?it.color:'primary'}}" class="ion-text-wrap" style="text-align: justify;">
        {{it.name?it.name:it.hint}}
      </ion-label>
      <ion-select [(ngModel)]="it.value" multiple="true"
        style="background-color: rgb(0, 190, 73); color:whitesmoke; border-radius: 1em;">
        <ion-select-option *ngFor="let mySet of it.options" value="{{mySet.value}}">{{mySet.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- toggle check -->
    <ion-item *ngIf="it?.type === 'toggle'" class="background-none background-round form-input-item">
      <ion-icon *ngIf="it.icon" slot="start" color="{{it.color?it.color:'primary'}}" name="{{it.icon}}"></ion-icon>
      <ion-label color="primary" class="ion-text-wrap" style="text-align: justify;">{{it.name?it.name:it.hint}}
      </ion-label>
      <ion-toggle color="{{it.color}}" [(ngModel)]="it.value"></ion-toggle>
    </ion-item>

    <!-- range adjust -->
    <ion-item *ngIf="it?.type === 'range'" class="background-none background-round form-input-item">
      <ion-label *ngIf="it.name" color="{{it.color?it.color:'primary'}}" class="ion-text-wrap"
        style="text-align: justify;">
        {{it.name}}
      </ion-label>
      <ion-range min="{{it.min}}" max="{{it.max}}" pin="true" snaps="true" color="{{it.color?it.color:'primary'}}"
        [(ngModel)]="it.value">
        <ion-icon *ngIf="it.icon" size="small" slot="start" name="{{it.icon}}"></ion-icon>
        <ion-icon *ngIf="it.icon" slot="end" name="{{it.icon}}"></ion-icon>
      </ion-range>
    </ion-item>

    <!-- rang title with value -->
    <ion-item *ngIf="it?.type === 'range-text'" class="background-none background-round form-input-item">
      <ion-range min="{{it.min}}" max="{{it.max}}" snaps="{{it.snaps}}" color="{{(it.color?it.color:'secondary')}}"
        [(ngModel)]="it.value">
        <ion-label slot="start" color="primary" [style.font-size]="(it.size?it.size:'1.5em')">{{it.name}}</ion-label>
        <ion-input slot="end" type="text" [(ngModel)]="it.value" [disabled]="it.disabled" maxlength="5"
          style="border-radius: 0.5em; background-color: rgb(40, 112, 219); color:whitesmoke; padding: 3px; align-self: center; min-width: 40px; max-width: 60px;">
        </ion-input>
      </ion-range>
    </ion-item>

    <!-- date time-->
    <ion-item *ngIf="it?.type === 'datetime'" class="background-none background-round form-input-item">
      <ion-label *ngIf="it.invalid" color="danger">{{it.hint}}(*)</ion-label>
      <ion-label *ngIf="!it.invalid">{{it.name}}</ion-label>
      <ion-datetime displayFormat="{{it.display}}" placeholder="{{it.hint}}" pickerFormat="{{it.picker}}"
        [(ngModel)]="it.value"></ion-datetime>
    </ion-item>

    <!-- button action -->
    <ion-grid class="ion-no-padding" *ngIf="it?.type == 'button'">
      <ion-row>
        <ion-col *ngFor="let myBtn of it.options" style="text-align: center;">
          <ion-button class="form-button-item" color="{{it.color?it.color:''}}" shape="round" (click)="onClick(myBtn)">
            <ion-icon *ngIf="it.icon" name="{{it.icon}}"></ion-icon>
            {{myBtn?.name}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-list>

</ion-content>